import * as dotenv from 'dotenv'
import { ConnectionOptions } from 'typeorm'
import * as entities from '@entities'
dotenv.config()

const migrationsDir = '../migrations/*'

const configuration: {
  dev: ConnectionOptions,
  prod?: ConnectionOptions,
  test?: ConnectionOptions } =
  {
    dev: {
      type: 'postgres',
      host: 'localhost',
      port: 5432,
      username: 'postgres',
      password: 'admin',
      database: 'wellt',
      logging: false,
      migrationsRun: true
    },

    prod: {
      type: undefined,
      host: undefined,
      port: null,
      username: undefined,
      password: undefined,
      database: undefined,
      synchronize: false,
      logging: false
    },

    test: {
      type: 'sqlite',
      database: ':memory:',
      dropSchema: true,
      entities: Object.values(entities),
      migrations: undefined,
      synchronize: true,
      logging: false
    }
  }

export function dbConfig (target?:string): ConnectionOptions {
  const environment = target || process.env.ENVIRONMENT || 'dev'

  return {
    entities: Object.values(entities),
    migrations: [migrationsDir],
    ...configuration[environment]
  }
}
